body {
  height: 100vh;
  position: relative;
  background-image: url(../images/img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(8px);
}

.container {
  display: inline-block;
  width: 800px;
  /* margin-left: calc(50% - 400px);
  margin-top: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-column {
  float: left;
  width: 40%;
  padding: 40px;
  position: absolute;
  /* background-color: hsl(190, 100%, 58%); 
    background-color: rgb(118, 188, 222); 
    */
  background-color: #76bcde;
  background-image: url(../images/img.png);

  /*background-repeat: no-repeat; kai yra background-size:cover repeat funkcija nereikalinga*/
  background-size: cover;
  background-position: center;
  color: white;
  bottom: 30px;
  top: 30px;
  left: 0;
}
.main-title {
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: normal;
}
.bottom-links {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 40px;
}
.bottom-links > .link {
  color: white;
}

.right-column {
  float: right;
  width: 60%;
  padding: 60px;
  background-color: #fff;
  position: relative;
}

.close {
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 54px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
